In [57]:
#import proper libraries
import numpy as np
import pandas as pd

In [58]:
#create paths and import data into python with index as "Date"
data = pd.read_csv('PyBank_data.csv', index_col="Date")
#set column as "Profit/Losses"
columns = ["Profit/Losses"]
data.columns= columns
#test data, make sure you are importing using .head or .tail
data.tail()

        Profit/Losses
Date
16-Oct         102685
16-Nov         795914
16-Dec          60988
17-Jan         138230
17-Feb         671099

In [59]:
# change in PnL
data["Increase/Decrease"] = data['Profit/Losses'] - data['Profit/Losses'].shift()
data.head()

        Profit/Losses  Increase/Decrease
Date
10-Jan         867884                NaN
10-Feb         984655           116771.0
10-Mar         322013          -662642.0
10-Apr         -69417          -391430.0
10-May         310503           379920.0

In [60]:
#adding % change to the table as the third column entry - assign it back
data["% chg"] = data['Profit/Losses'].pct_change()
data.head()

        Profit/Losses  Increase/Decrease     % chg
Date
10-Jan         867884                NaN       NaN
10-Feb         984655           116771.0  0.134547
10-Mar         322013          -662642.0 -0.672969
10-Apr         -69417          -391430.0 -1.215572
10-May         310503           379920.0 -5.473011

In [61]:
#check your data - rounded to the second decimal
round(data.describe(), 2)

       Profit/Losses  Increase/Decrease  % chg
count          86.00              85.00  85.00
mean       446309.05           -2315.12  -0.29
std        536357.95          763437.19   2.49
min      -1196225.00        -2196167.00 -10.70
25%        182162.00         -368665.00  -1.09
50%        570328.00           77242.00  -0.30
75%        795226.25          398319.00   0.35
max       1170593.00         1926159.00   9.65

In [62]:
#Checking data quality - nulls - first null on %chng is natural
data.index.dtype
data.isnull()
data.isnull().sum()
data.isnull().mean()*100

Profit/Losses        0.000000
Increase/Decrease    1.162791
% chg                1.162791
dtype: float64

In [63]:
#Checking data quality - duplicate rows
data.duplicated()

Date
10-Jan    False
10-Feb    False
10-Mar    False
10-Apr    False
10-May    False
          ...
16-Oct    False
16-Nov    False
16-Dec    False
17-Jan    False
17-Feb    False
Length: 86, dtype: bool

In [64]:
#converting Profit/Losses column into floats
data['Profit/Losses'] = data['Profit/Losses'].astype('float')

In [65]:
data.dtypes

Profit/Losses        float64
Increase/Decrease    float64
% chg                float64
dtype: object

In [70]:
#setting variables 
max_percent_increase = data.max()[1]
max_percent_increase

#find max() in a certain column - this case % chng
percent_chg_max = data.loc[data['% chg'] == max_percent_increase]
percent_chg_max

Empty DataFrame
Columns: [Profit/Losses, Increase/Decrease, % chg]
Index: []

In [71]:
#creating variable max decrease of percentage
min_percent_decrease = data.min()[1]
percent_chg_min = data.loc[data['% chg'] == min_percent_decrease]
percent_chg_min

Empty DataFrame
Columns: [Profit/Losses, Increase/Decrease, % chg]
Index: []

In [67]:
#creating variable max decrease of percentage
max_percent_decrease = data.min()[1]
percent_chg_min = data.loc[data['% chg'] == max_percent_decrease]

In [68]:
total_months = data.count()
total_pnl = data.sum()
max_increase = data.max()
mean_change = round(data.mean(), 2)

In [69]:
#mean_change = data.mean()
#max_increase = data.max()
#min_decrease = data.min()
print ("\n")
print ("Financial Analysis: \n --------------------")
print (f"Total Months: {total_months[0]}")
print (f"Total PnL: {total_pnl [0]}")
print (f"Average Change: {mean_change [0]}")
print (f"Greatest Increase in Profits: {percent_chg_max}")
print (f"Greatest Decrease in Profits: {percent_chg_min}")

Financial Analysis:
 --------------------
Total Months: 86
Total PnL: 38382578.0
Average Change: 446309.05
Greatest Increase in Profits:         Profit/Losses     % chg  Increase/Decrease
Date
11-Aug       668179.0  9.651836           605450.0
Greatest Decrease in Profits: Empty DataFrame
Columns: [Profit/Losses, Increase/Decrease, % chg]
Index: []