In [47]:
#import proper libraries
import numpy as np
import pandas as pd

In [48]:
#create paths and import data into python with index as "Date"
data = pd.read_csv('PyBank_data.csv', index_col="Date")
#set column as "Profit/Losses"
columns = ["Profit/Losses"]
data.columns= columns
#test data, make sure you are importing using .head or .tail
data.tail(10)

        Profit/Losses
Date
16-May         445709
16-Jun         712961
16-Jul       -1163797
16-Aug         569899
16-Sep         768450
16-Oct         102685
16-Nov         795914
16-Dec          60988
17-Jan         138230
17-Feb         671099

In [49]:
#calculating the daily percent change 
percent_change = data.pct_change()
percent_change.tail()

        Profit/Losses
Date
16-Oct      -0.866374
16-Nov       6.751025
16-Dec      -0.923374
17-Jan       1.266511
17-Feb       3.854945

In [50]:
#adding % change to the table as the third column entry - assign it back
data["% chg"] = percent_change
data.dtypes
data.head()

        Profit/Losses     % chg
Date
10-Jan         867884       NaN
10-Feb         984655  0.134547
10-Mar         322013 -0.672969
10-Apr         -69417 -1.215572
10-May         310503 -5.473011

In [51]:
#check your data - rounded to the second decimal
round(data.describe(), 2)

       Profit/Losses  % chg
count          86.00  85.00
mean       446309.05  -0.29
std        536357.95   2.49
min      -1196225.00 -10.70
25%        182162.00  -1.09
50%        570328.00  -0.30
75%        795226.25   0.35
max       1170593.00   9.65

In [52]:
#Checking data quality - nulls - first null on %chng is natural
data.index.dtype
data.isnull()
data.isnull().sum()
data.isnull().mean()*100

Profit/Losses    0.000000
% chg            1.162791
dtype: float64

In [53]:
#Checking data quality - duplicate rows
data.duplicated()

Date
10-Jan    False
10-Feb    False
10-Mar    False
10-Apr    False
10-May    False
          ...
16-Oct    False
16-Nov    False
16-Dec    False
17-Jan    False
17-Feb    False
Length: 86, dtype: bool

In [54]:
#converting Profit/Losses column into floats
data['Profit/Losses'] = data['Profit/Losses'].astype('float')

In [55]:
data.dtypes

Profit/Losses    float64
% chg            float64
dtype: object

In [61]:
#setting variables 
max_percent_increase = data.max()[1]
max_percent_increase

#find max() in a certain column - this case % chng
percent_chg_max = data.loc[data['% chg'] == max_percent_increase]
print (percent_chg_max)

        Profit/Losses     % chg
Date
11-Aug       668179.0  9.651836

In [62]:
#creating variable max decrease of percentage
max_percent_decrease = data.min()[1]
percent_chg_min = data.loc[data['% chg'] == max_percent_decrease]

In [63]:
total_months = data.count()
total_pnl = data.sum()
max_increase = data.max()
mean_change = round(data.mean(), 2)

In [71]:
#mean_change = data.mean()
#max_increase = data.max()
#min_decrease = data.min()
print ("\n")
print ("Financial Analysis: \n --------------------")
print (f"Total Months: {total_months[0]}")
print (f"Total PnL: {total_pnl [0]}")
print (f"Average Change: {mean_change [0]}")
print (f"Greatest Increase in Profits: {percent_chg_max}")
print (f"Greatest Decrease in Profits: {percent_chg_min}")

Financial Analysis:
 --------------------
Total Months: 86
Total PnL: 38382578.0
Average Change: 446309.05
Greatest Increase in Profits:         Profit/Losses     % chg
Date
11-Aug       668179.0  9.651836
Greatest Decrease in Profits:         Profit/Losses      % chg
Date
11-Jan       779806.0 -10.704753