In [3]:
#import proper libraries
import numpy as np
import pandas as pd

In [4]:
#create paths and import data into python
df = pd.read_csv('PyBank_data.csv', index_col="Date")
columns = ["Profit/Losses"]
#test data, make sure you are importing using .head or .tail
df.tail(10)

        Profit/Losses
Date
16-May         445709
16-Jun         712961
16-Jul       -1163797
16-Aug         569899
16-Sep         768450
16-Oct         102685
16-Nov         795914
16-Dec          60988
17-Jan         138230
17-Feb         671099

In [99]:
#calculating the daily percent change
percent_change = df.pct_change()
percent_change.tail

<bound method NDFrame.tail of         Profit/Losses
Date
10-Jan            NaN
10-Feb       0.134547
10-Mar      -0.672969
10-Apr      -1.215572
10-May      -5.473011
...               ...
16-Oct      -0.866374
16-Nov       6.751025
16-Dec      -0.923374
17-Jan       1.266511
17-Feb       3.854945

[86 rows x 1 columns]>

In [100]:
#adding % change to the table as the third entry
df["% chg"] = percent_change
df.tail()

        Profit/Losses     % chg
Date
16-Oct         102685 -0.866374
16-Nov         795914  6.751025
16-Dec          60988 -0.923374
17-Jan         138230  1.266511
17-Feb         671099  3.854945

In [101]:
#Checking data quality - nulls - first null on %chng is natural
print (df.index.dtype)
print (df.isnull())
print (df.isnull().sum())
print (df.isnull().mean()*100)

object
        Profit/Losses  % chg
Date
10-Jan          False   True
10-Feb          False  False
10-Mar          False  False
10-Apr          False  False
10-May          False  False
...               ...    ...
16-Oct          False  False
16-Nov          False  False
16-Dec          False  False
17-Jan          False  False
17-Feb          False  False

[86 rows x 2 columns]
Profit/Losses    0
% chg            1
dtype: int64
Profit/Losses    0.000000
% chg            1.162791
dtype: float64

In [103]:
#Checking data quality - duplicate rows
df.duplicated()

Date
10-Jan    False
10-Feb    False
10-Mar    False
10-Apr    False
10-May    False
          ...
16-Oct    False
16-Nov    False
16-Dec    False
17-Jan    False
17-Feb    False
Length: 86, dtype: bool

In [88]:
#converting Profit/Losses column into floats
df['Profit/Losses'] = df['Profit/Losses'].astype('float')

In [89]:
df.dtypes

Profit/Losses    float64
% chng           float64
dtype: object

In [90]:
print ("\n")
print (round(df.describe(), 2))

       Profit/Losses  % chng
count          86.00   85.00
mean       446309.05   -0.29
std        536357.95    2.49
min      -1196225.00  -10.70
25%        182162.00   -1.09
50%        570328.00   -0.30
75%        795226.25    0.35
max       1170593.00    9.65

In [91]:
total_months = df.count()
total_pnl = df.sum()
max_increase = df.max()

In [92]:

#mean_change = df.mean()
#max_increase = df.max()
#min_decrease = df.min()
print ("\n")
print ("Financial Analysis: \n --------------------")
print (f"Total Months: {total_months[0]}")
print (f"Total PnL: {total_pnl [0]}")
#print (f"Average Change: {mean_change [0]}")
#print (f"Greatest Increase in Profits: {max_increase [0]}")
#print (f"Greatest Decrease in Profits: {min_decrease [0]}")

Financial Analysis:
 --------------------
Total Months: 86
Total PnL: 38382578.0