In [123]:
import numpy as np
import pandas as pd
import os
import csv

In [124]:
df = pd.read_csv('PyBank_data.csv', index_col= 'Date')
df

        Profit/Losses
Date
10-Jan         867884
10-Feb         984655
10-Mar         322013
10-Apr         -69417
10-May         310503
...               ...
16-Oct         102685
16-Nov         795914
16-Dec          60988
17-Jan         138230
17-Feb         671099

[86 rows x 1 columns]

In [143]:
total_months = df.count()
total_pnl = df.sum(axis = 0, skipna = True)
mean_change = df.mean()
max_increase = df.max()
min_decrease = df.min()

In [146]:
print ("Financial Analysis: \n --------------")
print (f"Total Months: {total_months[0]}")
print (f"Total PnL: {total_pnl [0]}")
print (f"Average Change: {mean_change [0]}")
print (f"Greatest Increase in Profits: {max_increase [0]}")
print (f"Greatest Decrease in Profits: {min_decrease [0]}")

Financial Analysis:
 --------------
Total Months: 86
Total PnL: 38382578
Average Change: 446309.0465116279
Greatest Increase in Profits: 1170593
Greatest Decrease in Profits: -1196225